@page
@model CodingMilitia.PlayBall.Auth.Web.Pages.Admin.AttributePolicyProtectedModel
@{
    ViewData["Title"] = "AttributePolicyProtected";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>AttributePolicyProtected</h1>
