@page
@model CodingMilitia.PlayBall.Auth.Web.Pages.Admin.ConventionPolicyProtectedModel
@{
    ViewData["Title"] = "ConventionPolicyProtected";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>ConventionPolicyProtected</h1>

