@page
@model CodingMilitia.PlayBall.Auth.Web.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Admin area</h1>
Only admins can see this page!
