<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/css/bootstrap.min.css" />
    </environment>
</head>
<body>
    <div class="container">
        <header>
            <div class="row">
                <div class="col-sm-3 offset-sm-9 text-right">
                    @await Html.PartialAsync("_SelectCulturePartial")
                </div>
            </div>
        </header>
        @RenderBody()
    </div>
</body>
</html>